.calculator__btn {
  font-size: 32px;
  color: #38b9ff;
  background-color: #fff;
  border-radius: 16px;
  font-weight: 600;
  width: 62px;
  height: 60px;
  text-align: center;
}

.calculator__btn_small {
  font-size: 20px;
  height: 40px;
}
