body{
  background-color: #DAF0FF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

body::before{
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #38B9FF;
  width: 25px;
  height: 25px;
  bottom: 10%;
  left: 7%;
}

body::after{
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #FFF;
  width: 23px;
  height: 23px;
  top: 13%;
  right: 5%;
}

.circle{
  border-radius: 50%;
  background-color: #109DFF;
  width: 50vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_miracle{
  animation: circle_miracle 3s ease-in-out forwards;
}